
body {
	font-family: 'Open Sans', sans-serif;
	/* font-weight: 500; */
}
.primary-menu  {
    background: #FF9800;
    margin-top: 0 !important;
    border-radius: 0 !important;
    margin-bottom: 15px !important;
}

a, a:focus, a:hover {
	color: inherit;
	text-decoration: none;
}

ul {
    width: 100%;
    height: 20px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    text-decoration-style: none;
    list-style: none;
    list-style-type: none;
}
ul > li {
	display: inline-block;
	font-size: 13px;
	line-height: 0;
	  text-decoration: none;
    text-decoration-style: none;
    list-style: none;
    list-style-type: none;
}
ul > li.title {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 13px;
	line-height: 0px;
}

ul.actions {
	display: inline-block;
	width: auto;
	float: right;
}
ul.actions > li.button_actions > a {
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}
ul.actions > li.button_actions:last-child {
	margin-left: 10px;
}

.search-contacts {
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 15px;
}

.form-search > form > .input-group.add-on {
	position: relative;
}
input:focus .form-search > form > .input-group.add-on > .input-group-btn > button {
    /* some sweet CSS */
    color: red !important;
     background-color: red !important;
}

.form-search > form > .input-group.add-on > .form-control:focus {
    z-index: 3;
    outline: none;
    box-shadow: none;
}

.form-search > form > .input-group.add-on > .form-control {
    border: 1px solid #52525217;
    border-radius: 3px;
}
.form-search > form > .input-group.add-on > .input-group-btn > button {
    position: absolute;
    right: 0px;
    background: transparent;
    color: #0000003b;
    z-index: 99999;
}

.section {
	height: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.section.title {
	background: #ececec;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	color: #929292;
	border-top: 1px solid #100e0e0a;
}

.section.content {
	padding-top: 10px;
    margin-bottom: 0px;
    height: auto;
    border-bottom: 1px solid #ececec;
}


.section-title > span {
	padding: 2px 0px 2px 0px;
	display: block;
}
.title-contact {
	font-size: 18px;
	margin-left: 10px;
	color: #424242;
	font-weight: 400;
}
.editJust {
	font-size: 16px;
}

.contact {
	display: block !important;
}
.contact.details > li {
	display: block !important;
}

.contact_type {
	font-size: 10px !important;
}

p, span, address, strong {
	line-height: normal;
}
.description-title {
    position: relative;
    left: 56px;
    top: -12px;
    white-space: pre-wrap;
    display: block;
    width: 88%;
}
.address_c {
	line-height: normal;
	margin-left: 55px;
}

.notfound {
	padding: 0px 30px 0px 30px;
	margin-top: 25%;
	    color: #eaeaea;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}