{% extends "base.html" %}
{% block action %}  {% endblock %}
{% block action_icon %} <i class="far fa-edit editJust"></i> {% endblock %}

{% block logo %} <li class="title"><a href="/"><i class="fas fa-arrow-left"></i>&nbsp;&nbsp;{{""| upper}}</a></li> {% endblock %}
{% block content %}

    <main class="main contacts">
    	<section class="search-contacts">
    		<div class="form-search">
    			<form action="/search" method="get" autocomplete="on">
    				<div class="input-group add-on">
    					<input class="form-control search-contacts" type="search" name="s" placeholder="Pesquisar">
    					<div class="input-group-btn">
    						<button class="btn" type="submit"><i class="fas fa-search"></i></button>
    					</div>
    				</div>
    			</form>
    		</div>
    	</section>
    	<section class="perfils">
    		<div class="section title">
    			<span>{{"contatos" | capfirst}}</span>
    		</div>
    		<div class="notfound">
    			{% if not contact %}
    			<h3>O resultado para {{contacts}} não encontrado</h3>
    			{% endif %}
    		</div>
    	</section>
    </main>
{%endblock%}