{% extends "base.html" %}


{% block action %}  {% endblock %}

{% block action_icon %} <i class="far fa-edit editJust"></i> {% endblock %}

{% block logo %} <li class="title"><a href="/"><i class="fas fa-arrow-left"></i>&nbsp;&nbsp;{{""| upper}}</a></li> {% endblock %}

{% block content %}

    <main class="main contacts">
        <section class="search-contacts">
            <div class="form-search">
                <form action="/" method="get" autocomplete="on">
                    <div class="input-group add-on">
                        <input class="form-control search-contacts" type="search" name="s" placeholder="Pesquisar">
                        <div class="input-group-btn">
                            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <section class="perfils">
            <div class="section title">
                <span>{{"contatos" | capfirst}}</span>
            </div>
            {% if contacts %}
                {% for contact in contacts %}
                    <a href="/{{contact.id}}">
                    <ul class="section content">
                        <li>
                            <img class="rounded" src="https://randomuser.me/api/portraits/men/{{contact.id}}.jpg" alt="Smiley face" width="42" height="42"> <span class="title-contact">{{contact.name_contact}} <small class="contact_type">{{contact.org_contact}}</small></span><br>
                            <span class="description-title">{{contact.text_contact}} <small><i class="far fa-clock"></i> add at {{contact.date_contact}}</small></span>

                            <address class="address_c">
                             <strong>Address</strong><br>
                              {{contact.address_contact}}<br>
                              <abbr title="Phone">{{"phone"|upper}}:</abbr> {{contact.phone_contact}}
                            </address>

                            <address class="address_c">
                              <strong>E-mail Address</strong><br>
                              <a href="mailto:#">{{contact.email_contact}}</a>
                            </address>
                        </li>
                    </ul>
                </a>
                {% endfor %}
            {% endif %}
        </section>
    </main>
{%endblock%}